h1.oa-page-header Budget
ul.list-unstyled
  li.oa-report(ng-repeat="report in reports")
    .from {{report.from}}
    .amount {{report.amount | currency:"$"}}
    .separator for
    .reason {{report.reason}}
p(ng-if="budget.underBudget") 
  | You are&nbsp; 
  b.text-success under
  | &nbsp;budget!
p(ng-if="!budget.underBudget") 
  | You are&nbsp; 
  b.text-danger over
  | &nbsp;budget!
