h1.oa-page-header Budget
ul.list-unstyled
  li.oa-report(ng-repeat="report in reports")
    .from {{report.from}}
    .amount {{report.amount | currency:"$"}}
    .separator for
    .reason {{report.reason}}
.under-budget(ng-if="budget.underBudget") 
  | &#10004; Under Budget
.over-budget(ng-if="!budget.underBudget") 
  | &#10007; Over Budget
