.container
  .col-sm-8.col-sm-offset-2
    h1 Logged In
    p.lead
      | Continue to the next screen to learn how Kinvey handles
      | your data, or log out...
    button.btn.btn-success(ng-click="logout()") Log Out