.container
  .col-sm-8.col-sm-offset-2
    h1 Log In
    form(role=form, ng-submit="login(username,password)")
      .form-group
        label(for="username") Username
        input.form-control(name="Username", type="text", ng-model="username")
      .form-group
        label(for="password") Password
        input.form-control(name="Password", type="password", ng-model="password")
      button.btn.btn-success(type="submit") Login
    p.text-danger {{error.description}}