.oa-header-btn.oa-back-btn(ng-click="back()") &larr;
h1.oa-page-header New Expense Report
form(role=form, ng-submit="save()")
  .form-group
    label(for="from") From
    input.form-control#from(ng-model="from", type="text")
  .form-group
    label(for="amount") Amount
    input.form-control#amount(ng-model="amount", type="number")
  .form-group
    label(for="reason") Reason
    input.form-control#reason(ng-model="reason", type="text")
  button.btn.btn-success(type="submit") Save
