.oa-header-btn.oa-new-report-btn(ng-click="nu()") +
h1.oa-page-header 
  | Expense Reports
ul.list-unstyled
  li.oa-report(ng-repeat="report in reports")
    .from {{report.from}}
    .amount {{report.amount | currency:"$"}}
    .separator for
    .reason {{report.reason}}
h2.oa-page-footer
  a(ng-click="signup()") Sign Up