h1.oa-page-header Sign Up
form(role=form, ng-submit="signup(username,password)")
  .form-group
    input.form-control#username(type="text", ng-model="username", placeholder="Email")
  .form-group
    input.form-control#password(type="password", ng-model="password", placeholder="Password")
  button.btn.btn-success(type="submit") Sign Up
p.text-danger {{error.description}}
